.top-brands {
  padding-top:30px;
  
}
.Brand-Box-Cover {
    height: 200px;
    width: 166.59px;
    border-radius: 8px;
  }
   
   .brand-item-cover {
     height: 150px;
     width: 150px;
     background-color: var(--primary-bg);
     box-shadow: var(--collection-shadow);
     border-radius: 50%;
     border:0.5px solid var(--border-white)
   }
   .brand-image{
      object-fit: cover;
      height: 100%;
      width: 100%; 
      border-radius: inherit;
      opacity: 1;
      transform: none;
      filter: unset;
   }
   .brand-name {
       font-size: 16px;
       font-weight: 500;
       text-overflow: ellipsis;
       overflow: hidden;
       margin-top: 8px;
       text-align: center;
   
   }