@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@500&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "./styles/commonStyles.css";
@import "./styles/variable.css";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
